
body{

}
#fca-app{

}
#dec-tool-wrap {
	background: #f0f0f0;
}

.tabs {
	
	list-style:none;
	border-bottom:1px solid #cccccc;
	text-align: center;

	background:#f0f0f0;
	padding-top:10px; 
	padding-bottom: 10px;



}

.tabs span{
	
	
	display: inline-block;
	text-decoration: none;
	margin:4px;
	padding:4px;
	padding-left:10px;padding-right: 10px;
	cursor: pointer;


}
.tabactive {
	background: #890535;
	color:#ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tabinactive {
	background:#959598;
	color:#ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#q-r-wrap{

	

	border-bottom:1px solid #cccccc;
	margin:0;padding:0;

}
#tree-info {
 padding-right: 10px;
 padding-left: 10px;
}

#result-bubble , #question-bubble {
	background: #ffffff;
	margin:15px;
	padding:15px;
	border:1px solid #a6a6a6;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(166, 166, 166, 1);
	-moz-box-shadow:    4px 4px 0px 0px rgba(166, 166, 166, 1);
	box-shadow:         4px 4px 0px 0px rgba(166, 166, 166, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#result-bubble {
	background: #890535;
	color: #ffffff;
	
}

#result-bubble a {
	color:#ffffff;
	text-decoration: underline;
}

#question-bubble ul {
	list-style: none;
	margin:0;
	margin-left:10px;
}

#disclaimer,#tree-info {

	margin:15px;
}
/* animation */


#question-bubble {

}
 