

<h3 class="news-header red">Decision Tool</h3>
<!--{{questions.sections[currentSection].name}}-->
<!-- App screen -->
<div ng-show="appReady" id="dec-tool-wrap">
			<div class="tabs clearfix" >
					<span ng-repeat="sec in questions.sections" ng-click="sectionchange($index+1)" 
						  ng-class="{tabactive:questions.sections[currentSection].name==sec.name,
							   		 tabinactive:questions.sections[currentSection].name!==sec.name}">
						{{sec.name}}
					</span>
			</div>


		<div id="q-r-wrap" class="clearfix">

			 <div id="disclaimer" ng-show="disclaimermode">
			 	<p>This tool can help you decide whether your firm needs to apply for full or limited permission.</p>
			  <p style="font-weight:bolder;font-size:11px">Before you start, please be aware that:</p>
			  <ul style="font-weight:bolder;font-size:11px" >
			  	<li>if any of your activities require full permission you have to apply for full permission, even if most of your activities would otherwise qualify for limited permission.</li>
				<li>instead of using this tool, all local authorities, firms already authorised by the FCA or PRA, and firms planning to carry on non-credit regulated activity should instead find out more about <a href="http://www.fca.org.uk/firms/firm-types/consumer-credit/authorisation" target="_blank"> how to apply for authorisation</a></li> 
           
			  </ul>
			</div>
			<!-- resultat -->
			<div id="result-bubble" ng-hide="questionmode" class="animate-show">	
				<p ng-bind-html="questions.sections[currentSection].results[currentResultat]" style="font-weight:bold"></p>
				<div ng-show="resultFullOrLimited">
					<p><b>Now you’ve completed our decision tool, go through either our full permission or limited permission checklist to help you prepare for your application.If you are still unsure about what permission to apply for, please call us on 0845 606 9966.</b></p>
					<p><b>You may also have the option to become an appointed representative as long as you are not: entering into a regulated credit agreement as a lender (or exercising the lender’s rights and duties in relation to agreements) under which interest or any other charges are applied; or providing credit references. See our jargon buster for more information.</b></p>
					<p> This tool is designed to help you decide whether you need to apply for limited or full permission. However it is not a definitive statement of the law, for which you should refer to paragraph 2G of Schedule 6 to the Financial Services and Markets Act 2000. For more
	guidance see the relevant sections of the FCA Handbook (in particular COND 1.1A.5A) and
	consider seeking independent legal or compliance advice.</p>
				</div>

			</div>
			<!-- the end of resultat -->

			<!-- current Question -->
			<div id="question-bubble" ng-show="questionmode" class="animate-show"> 
				<p ng-bind-html="questions.sections[currentSection].questions[currentQuestion].Q"></p>
				<div style="margin:5px">
				<button ng-click = "clickyes()" class="btn btn-small">{{questions.sections[currentSection].questions[currentQuestion].BYES}}</button><span> {{questions.sections[currentSection].questions[currentQuestion].BYES_EXTRA}}</span>
				</div>

				<div style="margin:5px">
				<button ng-click = "clickno()" class="btn btn-small">{{questions.sections[currentSection].questions[currentQuestion].BNO}}</button><span> {{questions.sections[currentSection].questions[currentQuestion].NO_EXTRA}} </span>
				</div>
				<!--<button ng-click ="gotoprevious()">go to the previous question</button>-->
			</div>
			<!-- the end of current question -->


			<!-- disclaimer under the the question -->
			<div id="tree-info">
	
		
			
			  <p style="font-style:italic;font-size:11px">
			  	If there are any terms that you don’t understand, please read our <a href="http://view-it.co.uk/preview/fca/jb/#/" target="_blank">jargon buster</a>. Once you’ve completed the decision tool, use either the full permission or limited permission checklist to help you prepare your application.
			  </p>

			</div>
			<!-- the end of disclaimer -->

		</div>

	


</div>

<!-- App loading screen -->
<div ng-show="!appReady"> <p>Loading the content...</p></div>


